.importPDF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b4b4b4;
    position: relative;
    padding: 16px;
    left: 45rem;
    top: 28rem;
    width: 150px;
    height: 72px;
    border-radius: 10px;
}

.dropdown{
    width: 12%;
    height: 7%;
    border-radius: 5px;
    padding: 0 10px 0 30px;
    box-sizing: border-box;
    margin-bottom: 9px;
    color:rgb(0, 0, 0);
    background-image: linear-gradient(144deg,#D8AE7C, #906E3F 50%,  #b38137a6);
    font-size: 30px;
    outline:  none;
}