.topbarContainer {
    height: 60px;
    width: 102%;
    background-color: #b18543;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: -1rem;
    top: -1rem;
    z-index: 999;
  }


.Areas {
    font-size: x-large;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 60rem;
    top: -10rem;

}

.Elementos{
    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 65rem;
    top: 2rem;


}



.Titulo{
    color : rgb(253, 253, 253);
    font-size: 30px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 2rem;
    top: 2rem;

}

.Deterioro{

    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 72rem;
    top: -4rem;

}

.Encargado {

    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 80rem;
    top: -4rem;

}

.PlanInspeccion{
    
    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 80rem;
    top: -4rem;


}


.svg{
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    left: 130rem;
    top: -1.5rem;
    

}